<ion-view view-title="Hotel">
	<ion-content class="app">
		<div class="row-fluid">
			<div class="col-xs-12" style="padding-top:25px;">
				<div class="well" style="display:inline-block">
					<div class="col-md-4 col-xs-12">
						<img class="wh100" src="http://www.mayfairhotelandspa.com/_images/_design/headers/rooftop2.jpg" alt="">
					</div>
					<div class="col-md-8 col-xs-12">
						<h1 ng-click="randomize()">Good Hope</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam ea perferendis in beatae amet deserunt quia similique dolorem aperiam rerum voluptates tempora, molestiae ipsam accusamus optio perspiciatis quas veniam itaque.</p>
						<canvas class="chart chart-line" data="data"
							labels="labels" legend="true" series="series">
						</canvas>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
