<ion-view view-title="Hotel">
	<ion-content class="app">
		<div class="row-fluid">
			<div class="col-xs-12" style="padding-top:25px;">
				<div class="well" style="display:inline-block">
					<div class="col-md-4 col-xs-12">
						<img class="wh100" src="http://www.mayfairhotelandspa.com/_images/_design/headers/rooftop2.jpg" alt="">
					</div>
					<div class="col-md-8 col-xs-12">
						<h1 ng-click="randomize()">MARRIOTT PUTRAJAYA</h1>
						<p>IOI RESORT Putrajaya 62502 Malaysia.
								<br>Tel: 60-3-89498888</p>
						<p>Room price from USD 110</p>
						<canvas class="chart chart-line" data="data"
							labels="labels" legend="true" series="series">
						</canvas>
						<div style="margin-bottom: 10px;">
							<table class="table">
								<tr>
									<th>Room</th>
									<th>1 adult(s)</th>
								</tr>
								<tr>
									<td>Triple deluxe</td>
									<td>USD 188.50</td>
								</tr>
								<tr>
									<td>Single deluxe - executive</td>
									<td>USD 189.38</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
