<!-- <ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>

  </ion-content>
</ion-modal-view> -->

<div class="modal-header">
  <h3 class="modal-title">Login</h3>
</div>
<div class="modal-body">
  <form ng-submit="doLogin()">
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Username</span>
        <input type="text" ng-model="loginData.username">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" ng-model="loginData.password">
      </label>
      <label class="item">
        <button class="button button-block button-positive" type="submit">Log in</button>
      </label>
    </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Login</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>