<ion-view view-title="Main">
	<ion-content class="app">
		<div class="row-fluid">
			<div class="col-xs-12 text-center" style="padding-top:280px;">
				<div class="well">
					<form action="">
						<div class="form-group">
							<div class="form-control-wrapper">
								<input class="form-control empty" type="text">
								<div class="floating-label">Search</div><span class="material-input"></span>
							</div>
						</div>
						<div class="form-group">
							<div class="form-control-wrapper">
								<input class="form-control empty" type="text">
								<div class="floating-label">City</div><span class="material-input"></span>
							</div>
						</div>
						<div class="form-group">
							<div class="form-control-wrapper">
								<input class="form-control empty" type="text">
								<div class="floating-label">Date</div><span class="material-input"></span>
							</div>
						</div>
					</form>
					<a href="#" class="btn btn-danger btn-fab btn-raised mdi-action-search"></a>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="col-xs-6">
				<button class="btn btn-block btn-material-red-50" ui-sref="#/app/hotel">
					Hot
					<br>
					<img style="width:72px;height:72px;" src="http://www.mayfairhotelandspa.com/_images/_design/headers/rooftop2.jpg" alt="">
					<br>
				</button>
			</div>
			<div class="col-xs-6">
				<button class="btn btn-block btn-material-red-50" ui-sref="#/app/hotel">
					Deal
					<br>
					<img style="width:72px;height:72px;" src="http://www.mayfairhotelandspa.com/_images/_design/headers/rooftop2.jpg" alt="">
					<br>
				</button>
			</div>
		</div>
	</ion-content>
</ion-view>
