<ion-view view-title="Trade">
  <ion-content class='app'>
    <div class="card">
		  <div class="item item-text-wrap">
		  	<div class="row">
		  		<div class="col-xs-5">
			    	Sunway Hotel
		  		</div>
		  		<div class="col-xs-4">
						$140.00
		  		</div>
		  		<div class="col-xs-3">
				    <button class="btn btn-material-light-blue-A200 no-mg">
		          Buy
		        </button>
		  		</div>
		  	</div>
		  </div>
		  <div class="item item-text-wrap">
		  	<div class="row">
		  		<div class="col-xs-5">
			    	Time Square Hotel
		  		</div>
		  		<div class="col-xs-4">
						$160.00
		  		</div>
		  		<div class="col-xs-3">
				    <button class="btn btn-material-light-blue-A200 no-mg">
		          Buy
		        </button>
		  		</div>
		  	</div>
		  </div>
		  <div class="item item-text-wrap">
		  	<div class="row">
		  		<div class="col-xs-5">
			    	Jordan Hotel
		  		</div>
		  		<div class="col-xs-4">
						$198.00
		  		</div>
		  		<div class="col-xs-3">
				    <button class="btn btn-material-light-blue-A200 no-mg">
		          Buy
		        </button>
		  		</div>
		  	</div>
		  </div>
		</div>
  </ion-content>
</ion-view>
